

<div class="checkList">
      <div class="container">
        <div class="wrapper">

          <%= form_for(Question.find(id).answers.build) do |q| %>
            <%= q.hidden_field :question_id %>

          <div class="tableTitle"><div class="changeArea" style="font-size: 100%;"><em>【03/10】</em><span><%= text %></span></div></div>
          
          <table class="radio-group">
            <tbody>
              <tr>
                <td><div class="styledRadio " style="background-image: url(http://monshin.jp/img/radio/radio_Unchecked_hover.jpg); width: 50px; height: 40px; cursor: pointer; background-repeat: no-repeat no-repeat;">
                  <%= q.radio_button(:content, "yes", id: "item3t") %>
                  <!-- <input id="item3t" name="item3" type="radio" value="1" style="display: none;"> -->
                  </div>
                  <%= q.label :content, 'はい', :value => "yes", class: "changeArea", style: "font-size: 100%" %>
                  <!-- <label class="changeArea" style="font-size: 100%;">はい</label></td> -->


                <td><div class="styledRadio " style="background-image: url(http://monshin.jp/img/radio/radio_Unchecked_hover.jpg); width: 50px; height: 40px; cursor: pointer; background-repeat: no-repeat no-repeat;"><input id="item3f" name="item3" type="radio" value="0" style="display: none;"></div><label class="changeArea" style="font-size: 100%;">いいえ</label></td>
              </tr>
            </tbody>
          </table>

          <% end %>
        </div>
      </div>
    </div>