<p id="notice"><%= notice %></p>


<p>
  <% if current_user.first_time == 0 %>
  <%= '初診' %>
  <% else %>
  <%= '再診' %>
  <% end %>
</p>

<p>
  <strong>予約番号</strong>
  <%= @user.reservation_id %>
</p>

<p>
  <strong>お名前</strong>
  <%= @user.first_name %><%= @user.last_name %>様
</p>

<p>
  <strong>生年月日</strong>
  <%#= @user. %>
<%= @user.birthday.strftime('%Y年%m月%d日') %>
</p>

<p>
  <strong>予約日時</strong>
  <%= @user.reserved_at %>
</p>

<p>
  <strong>施術内容</strong>
  <%= @user.operation.name %>
</p>

<p>
  <strong>部位</strong>
  <%= @user.body_part %>
</p>



<!-- <p>
  <strong>Url:</strong>
  <%#= @user.URL %>
</p> -->

<h2>この内容に、お間違いありませんか？</h2>
<%= link_to 'OK', questions_path %> |
<%= link_to 'NO', root_path, data: { confirm: 'お手数ですが、クリニックまで再度ご連絡をお願いします。' } %>










