<h2>再診<h2>
<h2>ボトックス注射</h2>

<!-- ボトックス注射 -->

<%= render partial: 'questions/question_form', locals: {id: 79, text: "1ヶ月以内にボトックス注射を受けましたか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 80, text: "現在妊娠の可能性はありますか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 81, text: "現在授乳中ですか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 82, text: "現在治療中の病気はありますか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 83, text: "現在外用薬、内服薬等をご使用中ですか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 84, text: "◆以下の事項をご確認の上、チェックボックスにチェックをお願い致します◆"} %>


<%#= link_to '次へ', answer_path %>
<%= link_to '次へ', id: "btn" %>