<h2>共通質問項目</h2>
<hr>
<!-- 共通質問フォーム -->
<%#= form_for(Question.find(id).answers.build) do |q| %>

<%#= render 'shared/error_messages' %>

 <div class="error-message" style="display:none;"></div>

<%= render partial: 'questions/question_form', locals: {id: 1, text: "1ヶ月以内にエステや病院で美容治療を受けましたか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 2, text: "現在妊娠の可能性はありますか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 3, text: "現在授乳中ですか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 4, text: "金属糸、金属プレート、金属ボルト、ペースメーカー、埋込式除細動器、金製剤の服用歴等、体内に金属類はございませんか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 5, text: "現在治療中の病気はありますか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 6, text: "現在外用薬、内服薬等をご使用中ですか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 7, text: "ケロイド体質と診断されたことはありますか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 8, text: "ヘルペスの既往歴はありますか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 9, text: "今までにアレルギー症状がでたことはありますか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 10, text: "3ヶ月以内に結婚式や肌を露出するような大事なイベントはありますか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 11, text: "◆以下の事項をご確認の上、チェックボックスにチェックをお願い致します◆"} %>

<%= render partial: 'questions/question_form', locals: {id: 12, text: "◆何をご覧になってご予約頂きましたか？◆"} %>

<%= render partial: 'questions/question_form', locals: {id: 13, text: "◆クーポンをご利用の方は以下の項目に入力をお願いします◆"} %>


<!-- 共通質問フォーム　終了 -->



<br>
<br>
<%#= link_to '入力内容を送信する', "#",  id: "btn", class: "btn2" %>
<!-- <div id="btn">次へ</div> -->
<%= link_to '戻る', root_url, class: "btn3" %>
<div id="btn" class="btn2">次へ</div>
<%#= link_to '次へ', '#', class: "btn2", id: "btn" %>

<br>
<hr>
<!-- <hr>
<p>リクエスト</p>
<div id="request_url" ></div>
<div id="request_parameter" ></div>

<p>レスポンス</p>
<div id="response_parameter" ></div>
 
<p>エラー</p>
<div id="XMLHttpRequest" ></div>
<div id="textStatus" ></div>
<div id="errorThrown" ></div>

 -->





<!-- 共通項目入力終了