<h3>再診</h3>
<h2>共通質問項目</h2>
<hr>

<!-- 再診　共通項目 -->

<%= render partial: 'questions/question_form', locals: {id: 51, text: "1ヶ月以内にエステや病院で美容治療を受けましたか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 52, text: "3ヶ月以内に結婚式や肌を露出するような大事なイベントはありますか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 53, text: "◆以下の事項をご確認の上、チェックボックスにチェックをお願い致します◆"} %>

<%= link_to '戻る', root_url,  id: "btn", class: "btn3" %>
<%= link_to '次へ', operations_path,  id: "btn", class: "btn2" %>
<br>
<hr>