<h2>再診<h2>
<h2>ルビーレーザー CO2レーザー</h2>

<!-- ルビーレーザー　CO2レーザー -->


<%= render partial: 'questions/question_form', locals: {id: 65, text: "現在妊娠の可能性はありますか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 66, text: "現在授乳中ですか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 67, text: "現在治療中の病気はありますか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 68, text: "現在外用薬、内服薬等をご使用中ですか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 69, text: "ケロイド体質と診断されたことはありますか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 70, text: "今までにアレルギー症状がでたことはありますか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 71, text: "治療をご希望の部分に皮膚疾患はありますか？"} %>

<%= render partial: 'questions/question_form', locals: {id: 72, text: "◆以下の事項をご確認の上、チェックボックスにチェックをお願い致します◆"} %>

<%#= link_to '次へ', answer_path %>
