初診
共通項目＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
◆以下の質問にご回答をお願いします◆
・1ヶ月以内にエステや病院で美容治療を受けましたか？
<!-- □はい
（エステ名・病院名：　　　　　　　　　　　　　　　　　　　）
（施術内容：　　　　　　　　　　　　　　　　　）（時期：　　　月　　　　日）
□いいえ -->
<!-- type1 -->









・現在妊娠の可能性はありますか？　　　　　　　　　　　　　　　<!-- 　□はい　□いいえ -->
<!-- type2 -->

<% if question.type == 2 %>
      <div class="field">
      	<p><%= question.checkbox :checkbox %>はい, <%= question.checkbox :checkbox2 %>いいえ</p>
      </div>
<% end %>













・現在授乳中ですか？　　　　　　　　　　　　　　　　　　　　　<!-- 　□はい　□いいえ -->
<!-- type2 -->
<% if question.type == 2 %>
      <div class="field">
      	<p><%= question.checkbox :checkbox %>はい, <%= question.checkbox :checkbox2 %>いいえ</p>
      </div>
<% end %>













・金属糸、金属プレート、金属ボルト、ペースメーカー、埋込式除細動器、金製剤の服用歴等、体内に金属類はございませんか？　　　　　　　　　　　　　<!-- 　□はい　□いいえ -->
<!-- type2 -->
<% if question.type == 2 %>
      <div class="field">
      	<p><%= question.checkbox :checkbox %>はい, <%= question.checkbox :checkbox2 %>いいえ</p>
      </div>
<% end %>










・現在治療中の病気はありますか？　<!-- □はい（　　　　　　　　　　　　　）　□いいえ -->
<!-- type 3 -->
<% if question.type == 3 %>
      <div class="field">
      	<p><%= question.checkbox :checkbox %>はい, <%= question.checkbox :checkbox2 %>いいえ</p>
      </div>
<% end %>





・現在外用薬、内服薬等をご使用中ですか？　
<!-- □はい（薬品名：　　　　　　　　　　　　　　　　　　）　□いいえ
 -->
<!-- type4 -->
<% if question.type == 4 %>
      <div class="field">
      	<p><%= question.checkbox :checkbox %>はい</p>
        <p>薬品名<%= question.text_field :content %></p>
        <p><%= question.checkbox :checkbox2 %>いいえ</p>
      </div>
<% end %>










・ケロイド体質と診断されたことはありますか？　　　　　　　　　　<!-- □はい　□いいえ -->
<!-- type 2  -->
<% if question.type == 2 %>
      <div class="field">
      	<p><%= question.checkbox :checkbox %>はい, <%= question.checkbox :checkbox2 %>いいえ</p>
      </div>
<% end %>











・ヘルペスの既往歴はありますか？　
<!-- □はい（時期：　　　　年　　　　月　　　　日）　□いいえ -->
<!-- type5 -->
<% if question.type == 5 %>
      <div class="field">
      	<p><%= question.checkbox :checkbox %>はい<%= question %>
      </div>
<% end %>














・今までにアレルギー症状がでたことはありますか？　
<!-- □はい→□食物（　　　　　　）　□薬（　　　　　　）　□金属（　　　　　　）　
□光線過敏症　□その他（　　　　　　）　　　　
□いいえ　　　　　 -->
<!-- type6 -->

















　　
・3ヶ月以内に結婚式や肌を露出するような大事なイベントはありますか？　
<!-- □あり（内容：　　　　　　　　　　　　　日時：　　月　　　日）　□なし -->
<!-- type7 -->














◆以下の事項をご確認の上、チェックボックスにチェックをお願い致します◆
<!-- □月に一度ご本人様確認を行っております。ご来院当日に身分証（健康保険証・運転免許証など）をご持参願います。
□治療当日、医師の診断によっては治療をお受け頂けない場合がありますことをご了承ください。
□当院は完全予約制のため、ご予約のお時間に遅れてしまうと治療ができない場合があります。施術開始時間の10分前に受付へお越しください。
□ご予約の変更・キャンセルは3日前までにご連絡ください。
 -->
<!-- type8 -->




















◆何をご覧になってご予約頂きましたか？◆
<!-- □クーポン（クーポン名　　　　　　　　　　）　□Google検索　□yahoo検索　
□ホームページ　□ブログ　□リーフレット　□ご紹介 
□その他（　　　 -->　　　　　　　　　　　）

<!-- type9 -->













◆クーポンをご利用の方は以下の項目に入力をお願いします◆
<!-- ・クーポン会社の入力をお願いします（　　　　　　　　　　　　　　　　　　　　　）
・クーポンナンバーの入力をお願いします（　　　　　　　　　　　　　　　　　　　　　）
・グルーポンをご利用の方はCNOナンバーの入力をお願いします（　　　　　　　　　　　　　　　　　　　　　　）
・トクポをご利用の方はクーポンキーの入力をお願いします（　　　　　　　　　　　　　　　　　　　　　　）
※ご来院当日にクーポンを再度確認させて頂きますので、クーポンナンバーが分かるものをご持参ください。 -->
<!-- type 10 -->









<!-- 要記入 -->
<!-- 要記入 -->
追加表示＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
<!-- （部位で「顔」を選択した場合、以下の項目が入るようにする）
□お顔の治療をご希望の方は治療の際、化粧品類を落として頂きます。クレンジング、洗顔料、化粧水等をご用意しておりますが、ご指定のものがございましたらご持参願います。また、メイク道具もご持参願います。

（部位で「首」を選択した場合、以下の項目が入るようにする）
□首元に開きのある服装でご来院ください。

（部位で「体」を選択した場合、以下の項目が入るようにする）
□お体の治療をご希望の方は着替えやすい服装でご来院下さい。

※該当する施術と部位の組み合わせは別途送ります。 -->
<!-- type 11 -->



























エクシリス＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
・エクシリスのご経験はありますか？　　　　　　　　　　　　<!-- 　□はい　□いいえ -->
<!-- type 2  -->


・治療をご希望の部分に皮膚疾患はありますか？　
<!-- □はい（病名：　　　　　　　　　　　　　　）　□いいえ -->
<!-- type12 -->













ウルトラアクセント＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
・ウルトラアクセントのご経験はありますか？　　　　　　　　　<!-- □はい　□いいえ -->
<!-- type 2  -->










・治療をご希望の部分に皮膚疾患はありますか？　
<!-- □はい（病名：　　　　　　　　　　　　　　）　　　　□いいえ -->
<!-- type12 -->













テノール＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
・テノールのご経験はありますか？　　　　　　　　　　　　　　<!-- □はい　□いいえ -->
<!-- type 2  -->



・治療をご希望の部分に皮膚疾患はありますか？　
<!-- □はい（病名：　　　　　　　　　　　　　　）　□いいえ -->
<!-- type12 -->














ゼルティック＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
・ゼルティックのご経験はありますか？　　　　　　　　　　　　<!-- □はい　□いいえ -->
<!-- type 2  -->











・現在外用薬、内服薬等をご使用中ですか？　
<!-- □はい（薬品名：　　　　　　　　　　　　　　　　　　）　□いいえ　 -->
<!-- type4 -->









エレクトロポレーション＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
・エレクトロポレーションのご経験はありますか？　　　　　　　<!-- □はい　□いいえ -->
<!-- type 2  -->










・治療をご希望の部分に皮膚疾患はありますか？　
<!-- □はい（病名：　　　　　　　　　　　　　　）　□いいえ -->
<!-- type12 -->














脱毛＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
・脱毛のご経験はありますか？　　　　　　　　　　　　　　<!-- 　□はい　□いいえ -->
<!-- type 2  -->









・1ヶ月以内に日焼けをしましたか？　<!-- □はい（　　月　　　日　）　　□いいえ -->
<!-- type13 -->












・1ヶ月以内に毛抜きで処理をしましたか？　<!-- □はい（　　月　　　日）　　□いいえ -->
<!-- type13 -->











・治療をご希望の部分に皮膚疾患はありますか？　
<!-- □はい（病名：　　　　　　　　　　　　　　）　□いいえ -->
<!-- type12 -->












<!-- 要記入 -->
<!-- 要記入 要operationid-->
◆以下の事項をご確認の上、チェックボックスにチェックをお願い致します◆
<!-- □生理日は全日治療を行うことができませんのでご了承下さい。治療予約日に生理が重なる場合は、当院あてにお早めにご連絡下さいますようお願い申し上げます。
□治療前日に治療部位の剃毛をお願い致します（うぶ毛なども全てきれいにお剃り願います）。剃り残しがある場合はこちらで剃毛致しますが、一部位につき1,080円の剃毛料金が発生致しますことをご了承下さい。
□治療をご希望される部分に日焼け止め、ボディクリーム、制汗スプレーなどを付けずにご来院下さい -->

<!-- type14 -->















レーザートーニング＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
・レーザートーニングのご経験はありますか？　　　　　　　　　　<!-- □はい　□いいえ -->
<!-- type 2  -->











・1ヶ月以内に日焼けをしましたか？　<!-- □はい（　　月　　　日　）　　□いいえ -->
<!-- type13 -->











・治療をご希望の部分に皮膚疾患はありますか？　
<!-- □はい（病名：　　　　　　　　　　　　　　）　□いいえ -->
<!-- type12 -->











<!-- 要記入 -->
<!-- 要記入 -->
◆以下の事項をご確認の上、チェックボックスにチェックをお願い致します◆
<!-- □治療前日に治療部位の剃毛をお願い致します（うぶ毛もきれいにお剃り願います）。
 --> <!-- type 15 -->













フラクショナルレーザー＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
・フラクショナルレーザーのご経験はありますか？　
<!-- □はい（機械名：　　　　　　　　　　　　　　）　　　　□いいえ -->
<!-- type16 -->











・1ヶ月以内に日焼けをしましたか？　<!-- □はい（　　月　　　日　）　　□いいえ -->
<!-- type13 -->












・治療をご希望の部分にひどい乾燥や皮むけなどはありますか？　
<!-- □はい（病名：　　　　　　　　　　　　　　）　□いいえ -->
<!-- type12 -->












<!-- 要記入8 -->
<!-- 要記入8 -->
◆以下の事項をご確認の上、チェックボックスにチェックをお願い致します◆
<!-- □治療前日に治療部位の剃毛をお願い致します。男性の方でヒゲ部分の照射を希望されない場合は、ヒゲの剃毛はして頂かなくて構いません。
□治療代金と別途で麻酔代（2,160円もしくは3,240円）が発生致しますことをご了承下さい。
□この治療は治療後1～2週間程度、微細なカサブタができたり、皮膚が日焼け後のように赤黒くなるなどのダウンタイムがあることをご了承下さい。
□治療後の紫外線予防のため、帽子、サングラス、日傘などをご持参願います。
□治療当日はメイク、洗顔、洗髪、入浴は全て不可となりますのでご了承下さい。治療翌朝からは全て可能です。
 -->

<!-- type17 -->











サーマクール＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
・サーマクールのご経験はありますか？　
<!-- □はい（機種名：　　　　　　　　　　　　　　）　　　　□いいえ -->
<!-- type16 -->











・1ヶ月以内に日焼けをしましたか？　<!-- □はい（　　月　　　日　）　　□いいえ -->
<!-- type13 -->










・治療をご希望の部分にニキビや皮むけなどの皮膚疾患はありますか？　
<!-- □はい（病名：　　　　　　　　　　　　　　）　□いいえ -->
<!-- type12 -->













<!-- 要記入9 -->
<!-- 要記入9 -->
◆以下の事項をご確認の上、チェックボックスにチェックをお願い致します◆
<!-- □治療前日に治療部位の剃毛をお願い致します。男性の方でヒゲ部分の照射を希望されない場合は、ヒゲの剃毛はして頂かなくて構いません。 -->

<!-- type18 -->












ルビーレーザー　CO2レーザー＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
・シミやホクロ取りレーザーのご経験はありますか？　　
<!-- □はい（治療部位：　　　　　　　　　　　）　治療時期：　　　　年　　　　月　　　日）□いいえ -->
<!-- type 19 -->















　　
・1ヶ月以内に日焼けをしましたか？<!-- 　□はい（　　月　　　日　）　　□いいえ -->
<!-- type13 -->














・治療をご希望の部分に皮膚疾患はありますか？　
<!-- □はい（病名：　　　　　　　　　　　　　　）　□いいえ -->
<!-- type12 -->

















<!-- 要記入type20 -->
<!-- 要記入type20 -->
◆以下の事項をご確認の上、チェックボックスにチェックをお願い致します◆
<!-- □治療日から10～14日後、3ヶ月後、6ヶ月後に再度診察にご来院頂きますことをご了承下さい。
□治療した部分は10～14日間ほど(初回の再診日まで)テープで保護して頂く必要があります。 -->
<!-- type20 -->











ヒアルロン酸注射＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
・ヒアルロン酸注射のご経験はありますか？　　
<!-- □はい（治療部位：　　　　　　　　　　　）（治療時期：　　　　年　　　　月　　　日）
（薬剤名：　　　　　　　　　　　　　）　
□いいえ　　 -->
<!-- type21 -->










・治療をご希望の部分に皮膚疾患はありますか？　
<!-- □はい（病名：　　　　　　　　　　　　　　）　□いいえ
 -->
 <!-- type12 -->












<!-- 要記入type22 -->
<!-- 要記入type22 -->
◆以下の事項をご確認の上、チェックボックスにチェックをお願い致します◆
<!-- □治療後に内出血が発生する可能性があることをご了承下さい。 -->
<!-- type22 -->













ボトックス注射＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
・ボトックス注射のご経験はありますか？　
<!-- □はい（治療部位：　　　　　　　　　　　）（治療時期：　　　　年　　　　月　　　日）
（薬剤名：　　　　　　　　　　　　　）　　　　
□いいえ　　 -->
<!-- type21 -->










・治療をご希望の部分に皮膚疾患はありますか？　
<!-- □はい（病名：　　　　　　　　　　　　　　）　□いいえ -->
<!-- type12 -->














<!-- 要記入type23 -->
<!-- 要記入type23 -->
◆以下の事項をご確認の上、チェックボックスにチェックをお願い致します◆
<!-- □治療後に内出血が発生する可能性があることをご了承下さい。
□治療後、一時的な表情の変化や腫れぼったい感じやつっぱった感じが発生する場合がありますが1週間～1ヶ月程度で消失していきます。
□注射部位によっては一時的にめまいや視力低下、脱力感を生じることがありますので、治療当日は自動車の運転等、危険を伴う機械の操作はご注意下さい。
□ボトックス注射後、女性は2回の月経を経るまで、男性は3ヶ月間避妊の必要があることをご了承下さい。
 -->
 <!-- type 23 -->




















































































































再診
共通項目＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
・1ヶ月以内にエステや病院で美容治療を受けましたか？
□はい
（エステ名・病院名：　　　　　　　　　　　　　　　　　　　）
（施術内容：　　　　　　　　　　　　　　　　　）（時期：　　　月　　　　日）
□いいえ
・3ヶ月以内に結婚式や肌を露出するような大事なイベントはありますか？　
□あり（内容：　　　　　　　　　　　　　日時：　　月　　　日）　□なし

◆以下の事項をご確認の上、チェックボックスにチェックをお願い致します◆
□月に一度ご本人様確認を行っております。ご来院当日に身分証（健康保険証・運転免許証など）をご持参願います。
□治療当日、医師の診断によっては治療をお受け頂けない場合がありますことをご了承下さい。
□当院は完全予約制のため、ご予約のお時間に遅れてしまうと治療ができない場合があります。施術開始時間の10分前に受付へお越しください。
□ご予約の変更・キャンセルは3日前までにご連絡ください。

追加表示＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
（部位で「顔」を選択した場合、以下の項目が入るようにする）
□お顔の治療をご希望の方は治療の際、化粧品類を落として頂きます。クレンジング、洗顔料、化粧水等をご用意しておりますが、ご指定のものがございましたらご持参願います。また、メイク道具もご持参願います。

（部位で「首」を選択した場合、以下の項目が入るようにする）
□首元に開きにある服装でご来院ください。

（部位で「体」を選択した場合、以下の項目が入るようにする）
□お体の治療をご希望の方は着替えやすい服装でご来院下さい。

※該当する施術と部位の組み合わせは別途送ります。

脱毛＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
・1ヶ月以内に日焼けをしましたか？　□はい（　　月　　　日　）　　□いいえ
・1ヶ月以内に毛抜きで処理をしましたか？　□はい（　　月　　　日）　　□いいえ
・治療をご希望の部分に皮膚疾患はありますか？　
□はい（病名：　　　　　　　　　　　　　　）　□いいえ

◆以下の事項をご確認の上、チェックボックスにチェックをお願い致します◆
□生理日は全日治療を行うことができませんのでご了承下さい。治療予約日に生理が重なる場合は、当院あてにお早めにご連絡下さいますようお願い申し上げます。
□治療前日に治療部位の剃毛をお願い致します（うぶ毛なども全てきれいにお剃り願います）。剃り残しがある場合はこちらで剃毛致しますが、一部位につき1,080円の剃毛料金が発生致しますことをご了承下さい。
□治療をご希望される部分に日焼け止め、ボディクリーム、制汗スプレーなどを付けずにご来院下さい

レーザートーニング＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
・1ヶ月以内に日焼けをしましたか？　□はい（　　月　　　日　）　　□いいえ

フラクショナルレーザー＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
・1ヶ月以内に日焼けをしましたか？　□はい（　　月　　　日　）　　□いいえ
・治療をご希望の部分にひどい乾燥や皮むけなどはありますか？　
□はい（病名：　　　　　　　　　　　　　　）　□いいえ

◆以下の事項をご確認の上、チェックボックスにチェックをお願い致します◆
□治療前日に治療部位の剃毛をお願い致します。男性の方でヒゲ部分の照射を希望されない場合は、ヒゲの剃毛はして頂かなくて構いません。
□治療代金と別途で麻酔代（2,160円もしくは3,240円）が発生致しますことをご了承下さい。
□この治療は治療後1～2週間程度、微細なカサブタができたり、皮膚が日焼け後のように赤黒くなるなどのダウンタイムがあることをご了承下さい。
□治療後の紫外線予防のため、帽子、サングラス、日傘などをご持参願います。
□治療当日はメイク、洗顔、洗髪、入浴は全て不可となりますのでご了承下さい。治療翌朝からは全て可能です。

サーマクール＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
・1ヶ月以内に日焼けをしましたか？　□はい（　　月　　　日　）　　□いいえ
・治療をご希望の部分にニキビや皮むけなどの皮膚疾患はありますか？　
□はい（病名：　　　　　　　　　　　　　　）　□いいえ

◆以下の事項をご確認の上、チェックボックスにチェックをお願い致します◆
□治療前日に治療部位の剃毛をお願い致します。男性の方でヒゲ部分の照射を希望されない場合は、ヒゲの剃毛はして頂かなくて構いません。

ルビーレーザー　CO2レーザー＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
・現在妊娠の可能性はありますか？　　　　　　　　　　　　　　　　□はい　□いいえ
・現在授乳中ですか？　　　　　　　　　　　　　　　　　　　　　　□はい　□いいえ
・現在治療中の病気はありますか？　□はい（　　　　　　　　　　　　　）　□いいえ
・現在外用薬、内服薬等をご使用中ですか？　
□はい（薬品名：　　　　　　　　　　　　　　　　　　）　□いいえ
・ケロイド体質と診断されたことはありますか？　　　　　　　　　　□はい　□いいえ
・今までにアレルギー症状がでたことはありますか？　
□はい→□食物（　　　　　　）　□薬（　　　　　　）　□金属（　　　　　　）　
□光線過敏症　□その他（　　　　　　）　　　　
□いいえ　　　　　　　
・1ヶ月以内に日焼けをしましたか？　□はい（　　月　　　日　）　　□いいえ
・治療をご希望の部分に皮膚疾患はありますか？　
□はい（病名：　　　　　　　　　　　　　　）　□いいえ

◆以下の事項をご確認の上、チェックボックスにチェックをお願い致します◆
□治療日から10～14日後、3ヶ月後、6ヶ月後に再度診察にご来院頂きますことをご了承下さい。
□治療した部分は10～14日間ほど(初回の再診日まで)テープで保護して頂く必要があります。

ヒアルロン酸注射＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
・1ヶ月以内にヒアルロン酸注射を受けましたか？
□はい
（治療部位：　　　　　　　　　　　　　　　　）（時期：　　　月　　　　日）
（薬剤名：　　　　　　　　　　　　　　　　　）
□いいえ
・現在妊娠の可能性はありますか？　　　　　　　　　　　　　　　　□はい　□いいえ
・現在授乳中ですか？　　　　　　　　　　　　　　　　　　　　　　□はい　□いいえ
・現在治療中の病気はありますか？　□はい（　　　　　　　　　　　　　）　□いいえ
・現在外用薬、内服薬等をご使用中ですか？　
□はい（薬品名：　　　　　　　　　　　　　　　　　　）　□いいえ

◆以下の事項をご確認の上、チェックボックスにチェックをお願い致します◆
□治療後に内出血が発生する可能性があることをご了承下さい。

ボトックス注射＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
・1ヶ月以内にボトックス注射を受けましたか？
□はい
（治療部位：　　　　　　　　　　　　　　　　）（時期：　　　月　　　　日）
（薬剤名：　　　　　　　　　　　　　　　　　）
□いいえ

・現在妊娠の可能性はありますか？　　　　　　　　　　　　　　　　□はい　□いいえ
・現在授乳中ですか？　　　　　　　　　　　　　　　　　　　　　　□はい　□いいえ
・現在治療中の病気はありますか？　□はい（　　　　　　　　　　　　　）　□いいえ
・現在外用薬、内服薬等をご使用中ですか？　
□はい（薬品名：　　　　　　　　　　　　　　　　　　）　□いいえ

◆以下の事項をご確認の上、チェックボックスにチェックをお願い致します◆
□治療後に内出血が発生する可能性があることをご了承下さい。
□治療後、一時的な表情の変化や腫れぼったい感じやつっぱった感じが発生する場合がありますが1週間～1ヶ月程度で消失していきます。
□注射部位によっては一時的にめまいや視力低下、脱力感を生じることがありますので、治療当日は自動車の運転等、危険を伴う機械の操作はご注意下さい。
□ボトックス注射後、女性は2回の月経を経るまで、男性は3ヶ月間避妊の必要があることをご了承下さい。



